/*  Custom styles for MCE */

h1 {
  font-family: "Adobe Garamond W01", Cambria, Times New Roman, Times, serif;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
}

.quote {
  font-family: "Adobe Garamond W01", Cambria, Times New Roman, Times, serif;
  display: block;
  font-size: 1.8em;
  margin: 1em 3em;
  line-height: 1.5em;
  font-style: italic;
}

p {
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 400;
  font-size: 0.9em;  
}

.bread-bold {
  font-weight: 700;
}

.nolineheight {
  margin-bottom: 0;
}

.media-credit {
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: rgb(144,144,144);
}