/******************************************************************
Site Name:
Author:

Stylesheet: Typography

******************************************************************/


// font stacks
$sans-serif:        "Avenir Next W01", "Helvetica Neue", Arial, sans-serif;
$serif:             "Adobe Garamond W01", Cambria, "Times New Roman", Times, serif;

p {
  -ms-word-wrap: none;
  word-break: none; //non-standart css for webkit
  word-wrap: none;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

