/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.introduction-front {
	padding: 0 10em;
}

.content-box {
	padding: 32px 160px;

	&.background-white {
		padding-left: 10em;
		padding-right: 10em;
	}

	&.readmore {
		padding: 0;
		p, h1, h2, h3 {
			padding: 0 160px;
		}
	}

}